<div class="mt-3">
<h5 [ngClass]="{'strike':!d.active }">{{d.title}}</h5>
<p [ngClass]="{'strike':!d.active }">{{d.desc}}</p>
<p [ngClass]="{'strike':!d.active }">{{d.duedate}}</p>
<p [ngClass]="{'strike':!d.active }">{{d.priority}}</p>
    <input type="radio" id="todo" name="exampleCheck1" value="todo">
    <label for="todo">Todo</label>&nbsp;
    <input type="radio" id="inprogress" name="exampleCheck1" value="inprogress">
    <label for="inprogress">In progress</label>&nbsp;
    <input type="radio" id="completed" name="exampleCheck1" value="completed" (click)="onCheckboxClick(d)" [checked]="!d.active" >
    <label for="completed" >Completed</label><br>
    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(d)" [checked]="!d.active">
    <label class="form-check-label" for="exampleCheck1">done</label> -->
<button class="btn btn-sm btn-primary mt-2" (click)="onclick(d)">Delete</button>
</div>